.tooltip_button {
  color: red;
}

.tooltip_popup {
  /* Display */
  display: none;

  /* Position */
  position: absolute;
  width: max-content;
  max-width: 90%;
  top: 0;
  left: 0;

  /* Style */
  background: #222;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  font-size: 90%;
}

.tooltip_arrow {
  position: absolute;
  background: #222;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}
