@import "../index.scss";

.tooltip_button {
  // !important these to override SquareSpace link styling
  color: red !important;
  text-decoration-line: none !important;
}

.tooltip_button:hover {
  background: #ddd;
}

.tooltip_popup {
  /* Display */
  display: none;

  /* Position */
  position: absolute;
  width: max-content;
  top: 0;
  left: 0;

  max-width: 80%;
  @include not-small {
    max-width: 50%;
  }

  /* Z-order */
  z-index: 10; // Make sure this is on top

  /* Outline style */
  background: #222;
  color: white;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1.5rem;

  /* Text style (lifted from SquareSpace site design) */
  font-family: "itc-avant-garde-gothic-pro", "proxima-nova", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 1rem;
  line-height: 1.2;
}

.tooltip_arrow {
  position: absolute;
  background: #222;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}

.the_words_index_word {
  padding-left: 0.2em;
  padding-right: 0.2em;
}
