@import "../index.scss";

div.youtube-library-float {
  // Float left
  float: left;

  // Width
  width: 100%; // For small screens
  @include not-small {
    width: 33%; // For not-small screens
  }

  // Interior padding (in lieu of margin)
  padding: 0.25rem;

  // Set up for absolute positioning of play button SVG below
  position: relative;

  // Center inner thumbnail image
  text-align: center;
}

@mixin youtube-library-preview($aspect_ratio) {
  width: 100%;
  margin: auto;
  aspect-ratio: $aspect_ratio;

  border: 0;
}

.youtube-library-preview_4_3 {
  @include youtube-library-preview("4/3");
}

.youtube-library-preview_16_9 {
  @include youtube-library-preview("16/9");
}

.youtube-library-play-button {
  position: absolute;

  $button-width: 15%;

  // Center button
  width: $button-width;
  top: calc((100% - $button-width) / 2);
  left: calc((100% - $button-width) / 2);
}

.youtube-library-description {
  position: absolute;
  text-align: left;

  padding-top: 0.5em;
  padding-left: 0.5em;

  color: white;
}
