@import "../index.scss";

div.video-library {
  @include clearfix;
}

div.video-library-float {
  // Float left
  float: left;

  // Width
  width: 100%; // For small screens
  @include not-small {
    width: 33%; // For not-small screens
  }

  // Interior padding (in lieu of margin)
  padding: 0.25rem;

  // Set up for absolute positioning of play button SVG below
  position: relative;

  // Center inner thumbnail image
  text-align: center;
}

.video-library-preview {
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9;

  border: 0;
}

.video-library-play-button {
  // Position on top of other content
  position: absolute;

  // Constrain size
  width: 15%;

  // Center button
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-library-description {
  position: absolute;
  text-align: left;

  padding-top: 0.2em;
  padding-left: 0.5em;

  color: white;
}
