//
// Top-level divs:
// - wrapper
//   - index
//   - details
//

#the_shots_wrapper {
  @include clearfix;
}

#the_shots_index {
  float: left;
  width: 50%;

  padding-right: 2em;

  // Interior scroll container
  height: 100vh;
  overflow: auto;
}

#the_shots_details {
  float: left;
  width: 50%;
}

//
// Index tweaks
//

#the_shots_index th {
  text-align: left;
}

#the_shots_index .shotLink {
  color: red;
}

//
// Details tweaks
//

#the_shots_details h2 {
  margin-top: 0;
  margin-bottom: 0;
}

#the_shots_details h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

#the_shots_details h4 {
  margin-top: 1em;
  margin-bottom: 0;
}
