#the_shots_wrapper {
  th {
    text-align: left;
  }

  a {
    color: red;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 1.75rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;

    font-size: 1.5rem;
  }

  h4 {
    margin-top: 1em;
    margin-bottom: 0;

    font-size: 1.25rem;
  }
}
