#the_shots_wrapper {
  @include clearfix;

  .the_shots_selectors {
    display: flex;
    column-gap: 1em;
    justify-content: start;

    padding-bottom: 1em;
  }

  .the_shots_column {
    // Include padding in e.g. width: 50%
    box-sizing: border-box;

    // Position
    float: left;
    width: 50%;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    // Padding
    padding-right: 1em;
  }

  .the_shots_video_container {
    // Positioning
    position: relative;
    overflow: hidden;
    max-width: 100%;
    aspect-ratio: 16 / 9;

    iframe,
    object,
    embed {
      // Positioning
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      // Styling
      border: 0px;
    }
  }

  td,
  th {
    text-align: left;
    padding-right: 1em;

    &:last-child {
      padding-right: 0;
    }
  }

  a {
    color: red;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0.25em;

    font-size: 1.75rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;

    font-size: 1.5rem;
  }

  h4 {
    margin-top: 1em;
    margin-bottom: 0;

    font-size: 1.25rem;
  }

  h2,
  h3,
  h4 {
    font-weight: bold;
  }
}
