.the_reels {
  @include clearfix;

  $the-reels-highlight: #62a044; // Pantone 369U

  a {
    color: $the-reels-highlight;
  }

  .the_reels_header_row {
    font-size: 1.25rem;

    padding-bottom: 1em;

    select {
      margin-right: 1em;
    }

    .the_reels_contact_info {
      margin-right: 1em;
    }
  }

  .the_reels_video_container {
    // Positioning
    position: relative;
    overflow: hidden;
    max-width: 100%;
    aspect-ratio: 16 / 9;

    iframe,
    object,
    embed {
      // Positioning
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      // Styling
      border: 0px;
    }
  }

  .contact-link {
    height: 1.25rem;
    margin-left: 0.5rem;
    display: inline-block;
  }
}
