.the_reels {
  @include clearfix;

  $the-reels-highlight: #62a044; // Pantone 369U

  a {
    color: $the-reels-highlight;
  }

  .the_reels_header_row {
    font-size: 1.25rem;

    .the_reels_operator_name {
      font-weight: bold;
    }

    .the_reels_contact_info {
      margin-right: 1em;
    }
  }

  .the_reels_subheader_row {
    font-size: 1rem;
    padding-bottom: 1em;
  }

  .contact-link {
    height: 1.25rem;
    margin-left: 0.5rem;
    display: inline-block;
  }
}
