// Courtesy of https://github.com/kytta/shareon, with modifications to sizing.

:root {
  --social-button-size: 1.5rem;
  --social-icon-size: calc(0.7 * var(--social-button-size));

  --padding-ver: calc(0.3 * var(--social-icon-size));
  --padding-hor: calc(var(--social-icon-size) / 2);
  --padding-icon: calc((var(--social-button-size) - var(--social-icon-size)) / 2);

  --height: calc(var(--social-button-size) - 2 * var(--padding-ver));
  --width: calc(var(--social-button-size) - 2 * var(--padding-hor));
}

.shareon {
  font-size: 0 !important;
  vertical-align: middle;
}

.shareon > * {
  display: inline-block;
  position: relative;

  height: var(--height);
  min-width: var(--width);

  margin: calc(var(--padding-ver) / 2);
  padding: var(--padding-ver) var(--padding-hor);

  background-color: #333;
  border-radius: calc(var(--social-icon-size) / 6);
  border: none;
  box-sizing: content-box;
  color: white;
  line-height: 1.5;
  transition: opacity 300ms ease;
  vertical-align: middle;
}

.shareon > *:hover {
  border: none;
  cursor: pointer;
  opacity: 0.7;
}

.shareon > *:not(:empty) {
  font-size: calc(0.8 * var(--social-icon-size));
  text-decoration: none;
}

.shareon > *:not(:empty)::before {
  position: relative;

  height: 100%;
  width: calc(var(--social-icon-size) + var(--padding-icon));

  top: 0;
  left: 0;

  background-position: 0 50%;
}

.shareon > *::before {
  display: inline-block;
  position: absolute;

  height: var(--social-icon-size);
  width: var(--social-icon-size);

  top: var(--padding-icon);
  left: var(--padding-icon);

  background-repeat: no-repeat;
  background-size: var(--social-icon-size) var(--social-icon-size);
  content: "";
  vertical-align: bottom;
}

.shareon > .copy-url:before {
  background-image: url("social-icons/copy-url.svg");
}

.shareon > .copy-url.done:before {
  background-image: url("social-icons/copy-url-done.svg");
}

.shareon > .facebook {
  background-color: #000; // #1877f2;
}
.shareon > .facebook:before {
  background-image: url("social-icons/facebook.svg");
}

.shareon > .twitter {
  background-color: #000; // #1d9bf0;
}
.shareon > .twitter:before {
  background-image: url("social-icons/x.svg");
}

.shareon > .web-share:before {
  background-image: url("social-icons/web-share.svg");
}

.shareon > .whatsapp {
  background-color: #000; // #25d366;
}
.shareon > .whatsapp:before {
  background-image: url("social-icons/whatsapp.svg");
}
