.theop_video_container {
  // Positioning
  position: relative;
  overflow: hidden;
  max-width: 100%;

  iframe,
  object,
  embed {
    // Positioning
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // Styling
    border: 0px;
  }
}

.theop_video_43 {
  aspect-ratio: 4 / 3;
}

.theop_video_169 {
  aspect-ratio: 16 / 9;
}

.theop_video_1851 {
  aspect-ratio: 1.85 / 1;
}

.theop_video_201 {
  aspect-ratio: 2 / 1;
}

.theop_video_2391 {
  aspect-ratio: 2.39 / 1;
}
