// Media types
@mixin not-small {
  @media screen and (min-width: 30em) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 60em) {
    @content;
  }
}

// Tools: clearfix
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}
