// Media types
@mixin not-small {
  @media screen and (min-width: 30em) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 60em) {
    @content;
  }
}

// Tools: clearfix (c.f. https://nicolasgallagher.com/micro-clearfix-hack/)
@mixin clearfix {
  &:before,
  &:after {
    // The space content is one way to avoid an Opera bug when the `contenteditable` attribute is included anywhere else in the document.
    // Otherwise it causes space to appear at the top and bottom of elements that are clearfixed.
    content: " ";

    // The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of child elements.
    display: table;
  }

  &:after {
    // For IE 6/7 only: Include this rule to trigger hasLayout and contain floats.
    clear: both;
  }
}

.clearfix {
  @include clearfix;
}

// Include projects
@import "./site-tweaks/site-tweaks.scss";
@import "./the-library/the-library.scss";
@import "./the-words/the-words.scss";
